<div class="header">
  <%= render "layouts/header" %>
</div>
<div class="container">
  <h2 class="head-line title_h2 text-center">
    <%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細
  </h2>
  <div class="row">
    <table class="col-12 table table-hover table-borderless">
      <tbody>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= @customer.last_name %><%= @customer.first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= @customer.postcode %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= @customer.phone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= @customer.email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <% if @customer.is_deleted == false %>
            <td class="text-success"><i class="fas fa-user-check"></i> 有効</td>
          <% else %>
            <td class="text-danger"><i class="fas fa-user-slash"></i> 退会</td>
          <% end %>
        </tr>
      </tbody>
    </table>
      <div class="actions">
        <%= link_to "編集する",edit_admin_customer_path(@customer), class: "btn btn-success" %>
        <%= link_to " 注文履歴一覧を見る", admin_orders_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>