<div class="table-responsive">
  <table class="table table-hover text-nowrap">
    <tr>
      <th>購入日時</th>
      <th>購入者</th>
      <th>注文個数</th>
      <th>注文ステータス</th>
    </tr>
    <% orders.each do |order| %>
    <tr>
      <td>
        <%= link_to admin_order_path(order.id) do %>
          <%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        <% end %>
      </td>
      <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
      <td><%= order.order_items.all.sum(:count) %></td>
      <!--ステータスを文字で表示する方法がわからない-->
      <td><%= order.status_str %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= paginate orders %>