<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h2 class="head-line title_h2 text-center">登録情報編集</h2>
      <%= form_with model:@customer, url:customer_path, method: :patch, local: true do |f| %>
        <div class="col-12">
          <div class="form-inline form-group col-12">
            <%= f.label :"氏名", class: "col-4 control-label" %>
            <%= f.text_field :last_name, class: "col-3 form-control" %>
            <%= f.text_field :first_name, class: "col-3 form-control ml-2" %>
          </div>
          <div class="form-inline form-group col-12">
            <%= f.label :"フリガナ", class: "col-4 control-label" %>
            <%= f.text_field :last_name_kana, class: "col-3 form-control" %>
            <%= f.text_field :first_name_kana, class: "col-3 form-control ml-2" %>
          </div>
          <div class="form-inline form-group col-12">
            <%= f.label :"メールアドレス", class: "col-4 control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-6 form-control" %>
          </div>
          <div class="form-inline form-group col-12">
            <%= f.label :"郵便番号", class: "col-4 control-label" %>
            <%= f.text_field :postcode, class: "col-3 form-control" %>
          </div>
          <div class="form-inline form-group col-12">
            <%= f.label :"住所", class: "col-4 control-label" %>
            <%= f.text_field :address, class: "col-6 form-control" %>
          </div>
          <div class="form-inline form-group col-12">
            <%= f.label :"電話番号(ハイフンなし)", class: "col-4 control-label" %>
            <%= f.text_field :phone_number, class: "col-3 form-control" %>
          </div>
        </div>

        <div class="actions col-12 text-center">
          <%= f.submit "編集内容を保存", class: "btn btn-success col-2" %>
          <%= link_to '退会する', confirm_path(current_customer), class: "btn btn-danger col-2"%>
        </div>
      <% end %>
    </div>
  </div>
</div>