<div class="header">
  <%= render "layouts/header" %>
</div>
<%= render 'layouts/flash'%>
<div class="container">
  <div class="row justify-content-center">
  	<div class= "col-xs-offset-1 col-10 mt-3">
  		<h2 class="head-line text-center title_h2">マイページ</h2>
  		<table class="table table-borderless w-75">
  		  <tr>
  		    <td>
  		      <strong><i class="far fa-user"></i> 登録情報</strong>
  		      <%= link_to "", edit_customer_path, class: "btn btn-success fas fa-user-cog" %>
  		    </td>
  		  </tr>
  		</table>

  			<table class="table table-striped table-condensed" >
  				<tbody>
  					<tr>
  						<td class="info col-xs-2">氏名</td>
  						<td class="text-left"><%= full_name(current_customer) %></td>
  					</tr>
  					<tr>
  						<td class="info">カナ</td>
  						<td class="text-left"><%= full_name_kana(current_customer) %></td>
  					</tr>
  					<tr>
  						<td class="info">郵便番号</td>
  						<td class="text-left"><%= @customer.postcode %></td>
  					</tr>
  					<tr>
  						<td class="info">住所</td>
  						<td class="text-left"><%= @customer.address %></td>
  					</tr>
  					<tr>
  						<td class="info">電話番号</td>
  						<td class="text-left"><%= @customer.phone_number %></td>
  					</tr>
  					<tr>
  						<td class="info border-bottom">メールアドレス</td>
  						<td class="text-left border-bottom"><%= @customer.email %></td>
  					</tr>
  				</tbody>
  			</table>

  			<table class="table table-borderless w-75">
  			  <tr>
    				<td class="w-50"><strong><i class="fas fa-truck-moving"></i> 配送先</strong></td>
    				<td><%= link_to " 一覧へ", delivery_places_path, class: "btn btn-info" %></td>
    				<td></td>
  				</tr>
  				<tr>
    				<td class="w-50"><strong><i class="fas fa-history"></i> 注文履歴</strong></td>
    				<td><%= link_to " 一覧へ", orders_path(@customer.id), class: "btn btn-info" %></td>
    				<td></td>
  			  </tr>
  			</table>
  	</div>
  </div>
</div>