<section id="top">
  <div class="container-fluid pb-3">
    <%= render 'top-header' %>
    <%= render 'layouts/flash'%>
    <div class ="top-message">
    　<h2 class="heading">ようこそながのCakeへ！</h2><br>
      <p>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
    </div>
  </div>
</section>
<%= render 'top-slider' %>
<section id="top-about1">
  <h2 class="top-cap">ながのCAKEは全国発送可能なケーキ屋さんです。</h2>
</section>
<section id="top-about2">
  <h2 class="top-cap">
    お子様からお年寄りまでお召し上がりいただけるよう<br/>
    様々なバリエーションをご用意しております。
  </h2>
</section>
<section id="top-about3">
  <h2 class="top-cap">
    また、全国発送可能ですので<br/>
    「いつ」でも「どこ」でもご注文していただけます。<br/>
    ぜひご注文下さい。
    </h2>
</section>
<section class="container top-btn">
  <%= link_to homes_about_path do %>
  <% end %>
  <%= link_to items_path do %>
  <% end %>
</section>