<div class="header">
  <%= render "layouts/header" %>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div class="row">
        <%= render 'genres/index', genres: @genres %>
      </div>
    </div>
    <div class="col-md-9 offset-md-1">
      <div class="row">
        <h2 class="mr-2">"<%= @genre.name %>" 一覧 <small class="text-muted">(全<%= @search_items.count %>件)</small></h2>
        <%= render 'search', items: @items %>
      </div>
    </div>
  </div>
</div>
<%= paginate @items %>
