<div class="container my-5">
  <div class="row">
    <div class="col-md-2"><h3>genres</h3></div>
    <div class="col-md-9 offset-md-1">
      <div class="card h-100 w-100">
        <div class="row no-gutters">
          <div class="col-md-5">
            <%= attachment_image_tag @item, :image_id, :fill, 50, 50, fallback: "mizuho4141396IMG_7893_TP_V.jpg", class: "card-img", alt: "商品イメージ", width: "100%"%>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h4 class="card-title"><%= @item.name %></h4>
              <p class="card-text"><%= @item.description %></p>
              <h3>￥<%= @item.price %></h3><p>(税込)</p>
              <%= form_with model: @cart_item,  local: true do |f| %>]
                <%= f.select :count, [["1個", 1], ["2個", 2], ["3個", 3], ["4個", 4], ["5個", 5]] %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>