<div class="header">
  <%= render "layouts/header" %>
</div>
<div class="container my-5">
  <div class="row">
    <div class="col-md-2">
      <%= render 'genres/index', genres: @genres %>
    </div>
    <div class="col-md-9 offset-md-1">
      <div class="card">
        <div class="row no-gutters">
          <div class="col-md-8">
            <%= attachment_image_tag @item, :image, format: 'jpeg', fallback: "mizuho4141396IMG_7893_TP_V.jpg", class: "card-img show-card", alt: "商品イメージ", size: "400x370" %>
          </div>
          <div class="col-md-4">
            <div class="card-body">
              <h5 class="card-title"><%= @item.name %></h5>
              <%= link_to genre_search_path(@item.genre) do %>
                <h6><%= @item.genre.name %></h6>
              <% end %>
              <p class="card-text"><%= @item.description %></p>
              <div class="row">
                <p class="ml-3"><%= ((@item.price * 1.1).round).to_s(:delimited) %> 円</p><p>(税込)</p>
              </div>
              <% if customer_signed_in? %>
                <%= form_with model: @cart_item, url: cart_items_path(@cart_item.customer), local: true do |f| %>
                  <% if customer_signed_in? %>
                    <%= f.hidden_field :customer_id, :value => current_customer.id %>
                  <% end %>
                  <%= f.hidden_field :item_id, :value => @item.id %>
                  <div class="cart-btn">
                    <% number = (1..99).to_a %>
                    <%= f.select :count, number, class: "item-count" %>
                    <%= f.submit "カートに追加する", class: "btn btn-success btn-sm" %>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>