<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <div class="container">
      <%= link_to "NaganoCAKE", root_path, class: "fas fa-birthday-cake" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar navbar-expand-lg navbar-light navbar-nav ml-auto">
          <!--カスタマーがログインしている時 -->
          <% if customer_signed_in? %>
            <li class="header-name nav-link text-dark">
              ようこそ、<%= current_customer.last_name %>さん！
            </li>
            <li>
              <%= link_to "マイページ", customer_path(current_customer), class: "header_btn nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path, class: "header_btn nav-link text-dark" %>
            </li>
            <li>
              ジャンル
            </li>
            <li>
              カート
            </li>
            <li>
              <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: "header_btn nav-link text-dark" %>
            </li>

            <!-- 非ログイン時 -->
          <% else %>
            <li>
              <%= link_to "About", homes_about_path, class: "header_btn nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "商品一覧", items_path, class: "header_btn nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "新規登録", new_customer_registration_path, class: "header_btn nav-link text-dark" %>
            </li>
            <li>
              <%= link_to "ログイン", new_customer_session_path, class: "header_btn nav-link text-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
